<h1>Ingrese Test</h1>

<%= form_with model: @tda do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
  
  <div class="field">
    <%= f.label :minute %><br />
    <%= f.text_field :minute  %>
  </div>
  <div class="actions">
    <%= f.submit "Crear" %>
  </div>
<% end %>

<%= link_to "Back", :back %>

